html {
	height:100%;
}
body {
	font-size:12px;
	height:100%;
}

.header {
	line-height:2em;
	height:2em;
	background:green;
}
	.header div {
		float:left;
	}
	.header .controls {
		float:right;
	}

.panel {
	position:absolute;
	top:2em;
	bottom:2em;
}


.overflow, .ajax {
	display:none;
}

.toggle {
}
	.toggle .button {
	}
	.toggle.active .button {
	}
	.toggle .content {
		display:none;
	}
	.toggle.active .content {
		display:block;
	}

ul.icons {
	list-style-type:none;
	margin:0;
	padding:0;
}
	ul.icons li {
		width:16px;
		float:left;
		margin:0 1px;
	}

.odj {
	width:30%;
}
	.odj .points .point {
		margin-bottom:0.1em;
	}
		.odj .points .point .text {
			float:left;
			clear:left;
		}
		.odj .points .point .icons {
			float:right;
		}
	.odj .points.level0 {
	}
	.odj .points.level1 {
		margin-left:2em;
	}
	.odj .points.level2 {
		margin-left:3em;
	}
	.odj .points.level3 {
		margin-left:4em;
	}