html {
	height:100%;
}
body {
	font-size:12px;
	height:100%;
}

.header {
	line-height:2em;
	height:2em;
	background:green;
	width:100%;
}
	.header div {
		float:left;
	}
	.header .controls {
		float:right;
		padding-top:2px;
	}

.footer {
	bottom: 0;
	height: 2em;
	position: fixed;
	width: 100%;
	background:green;
	line-height:2em;
}
	.footer .status {
		text-align:center;
	}

.panel {
	position:absolute;
	top:2em;
	bottom:2em;
}

.left {
	left:0;
}
.right {
	right:0;
}


.overflow, .ajax {
	display:none !important;
}

.toggle {
}
	.toggle .button {
	}
	.toggle.active .button {
	}
	.toggle .content {
		display:none;
	}
	.toggle.active .content {
		display:block;
	}

ul.icons {
	list-style-type:none;
	margin:0;
	padding:0;
}
	ul.icons li {
		width:16px;
		height:16px;
		float:left;
		margin:0 1px;
	}
	ul.icons li:hover {
		width:16px;
		height:16px;
	}

.odj {
	width:20%;
}
	.odj .points {
	}
		.odj .points .point {
			margin-bottom:0.1em;
			height:18px;
			position:relative;
			clear:both;
		}
		.odj .points .point:hover {
			background-color:#CCCCCC;
		}
			.odj .points .point .text {
				clear:left;
				line-height:18px;
				float:left;
			}
			.odj .points .point .icons {
				display:none;
				float:left;
				margin-left:20px;
			}
			.odj .points .point:hover .icons {
				display:block;
			}
		.odj .points.level0 > .point {
		}
		.odj .points.level1 > .point {
			padding-left:2em;
		}
		.odj .points.level2 > .point {
			padding-left:4em;
		}
		.odj .points.level3 > .point {
			padding-left:6em;
		}
	
.participants {
	width:15%;
}